/*------------------------------------*\
  #Colors
\*------------------------------------*/

$black: #161616;
$light-gray: #f1f1f1;
$light-white: #f9f9f9;

$yellow: #eda31d;
$green: #42b883;
$blue: #2c3e50;
