/*------------------------------------*\
  #Colors
\*------------------------------------*/

$black: #161616;
$light-gray: #f1f1f1;
$light-white: #f9f9f9;

$green: #42b883;
$blue: #2c3e50;
$red: #d22f27;

/*------------------------------------*\
  #Font family
\*------------------------------------*/

$font-family: 'Montserrat', sans-serif;
